
{% extends '@EasyAdmin/page/content.html.twig' %}


{% block page_title 'Demandes client' %}

{% block content_title 'Demandes client' %}


{% block main %}

     {% for notice in app.flashes('notice') %}
        <div class="alert alert-success">{{ notice }}</div>
    {% endfor %}   
    <div class="container">
        <div class="row">
            <table class="table datagrid"> 
                <thead>
                    <tr>
                        {# <th>ID</th> #}
                        <th>Name</th>
                        {# <th>Email</th> #}
                        <th>Etat</th>
                        <th>Fichier</th>
                        <th>Categorie</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for step in steps %}
                        <tr>
                            {# <td>{{ step.id }}</td> #}
                            <td>{{ step.name }}</td>
                            {# <td>{{ step.email }}</td> #}
                            <td>{% if step.state != null %}
                                    <span style="color:{{ step.state.color }};font-weight:bold;">{{ step.state.title }}</span>
                                {% else %}
                                    <span>Pas encore definit</span>
                                {% endif %}
                            </td>
                            <td>
                                {% if step.file %}                                    
                                    {% if step.file|length > 1 %}{{ step.file|length }} - Dossiers{% else %}{{ step.file|length }} - Dossier{% endif %}
                                {% endif %}
                            </td>
                            <td>{{ step.category.name }}</td>
                            <td>
                                                                
                               <div class="btn-group">
                                    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Menu
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a data-href="/fr/admin?routeName=app_steps" {% if step.price == null %}disabled{% endif %} class="dropdown-item actionSendMail"
                                                data-id="{{ step.id }}" 
                                                data-email="{{ step.email }}"
                                                data-price="{{ step.price }}">
                                                <i class="fa fa-envelope text-success"></i> Envoyer mail
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item newstepsrequest" href="#" data-route="{{ path('app_addrequest') }}" data-idrequest="{{ step.id }}" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">
                                                <i class="fa fa-car-side text-info"></i> Nouvelle demande                                                
                                            </a>
                                        </li>
                                        <li><a class="dropdown-item pdfgenerator {% if step.price == null %}disabled{% endif %}"  href="{% if step.price == null %}#{% endif %}{{ path('app_pdf_generator', {'id': step.id}) }}"><i class="fa fa-file-pdf text-danger"></i> Formulaire de demande</a></li>
                                        <li>
                                            <a href="{% if step.archive %}{{ asset('uploads/zip/'~ step.archive) }}{% else %}#{% endif %}"  class="dropdown-item {% if step.archive == null %}disabled{% endif %}">
                                                <i class="fa fa-download text-warning"></i> Télécharger les dossiers
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
    </div>

    {# Mdal start #}
    <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalToggleLabel"><i class="fa fa-car-side text-danger"></i> Nouvelle demande</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                {{ form_start(form) }}
                        <table class="table">
                            <tr>
                                <td class="col-4">Nom et Prénoms:</td>
                                <td id="name" class="h6">...</td>
                                <input type="hidden" name="_name" id="inputname" value=""/>
                            </tr>
                            <tr>
                                <td>Agence en charge :</td>
                                <td id="agence" class="h6">...</td>
                                <input type="hidden" name="_agence" id="inputagence" value="" />
                            </tr>
                            <tr>
                                <td>Email :</td>
                                <td id="email" class="h6">...</td>
                                <input type="hidden" name="_email" id="inputemail" value="" />
                            </tr>
                            <tr>
                                <td>Téléphone :</td>
                                <td id="phone" class="h6">...</td>
                                <input type="hidden" name="_phone" id="inputphone" value="" />
                            </tr>
                        </table>
                    <hr class="border border-danger border-1 opacity-75">
                        <div class="input-group mb-3">
                            {# <label class="input-group-text p-3" for="inputGroupSelect01">Catégorie</label>
                            <select name="_category" class="form-select" id="inputGroupSelect01">
                                <option selected>Choisisser...</option>
                                {% for categorie in categories %}
                                    <option value="{{ categorie.id }}">{{ categorie.name }}</option>
                                {% endfor %}
                            </select> #}

                            {{ form_row(form.category) }}
                        </div>

                        <div class="input-group mb-3">
                            {# <input type="file" name="_file" class="form-control" multiple id="files">
                            <label class="input-group-text p-3" for="inputGroupFile02">Dossier</label> #}

                            {{ form_row(form.files) }}
                        </div>

                        <div class="input-group mb-3">                            
                            <label class="input-group-text p-3" for="inputGroupFile02">Coût de prestation</label>
                            <input type="text" name="_prestation" class="form-control" id="inputGroupFile02">                           
                        </div>

                        <div class="input-group mb-3">                            
                            {{ form_row(form.payment) }}                           
                        </div>

                {{ form_end(form) }}
            </div>

            <div class="modal-footer">
                <button class="btn btn-info " id="btnsubmit" data-bs-target="#exampleModalToggle2" data-bs-toggle=""><i class="fa fa-save"></i> Enregistrer</button>
                <button class="btn btn-danger" data-bs-dismiss="modal"><i class="fa fa-close"></i> Annuler</button>
            </div>
            </div>
        </div>
        </div>
        <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalToggleLabel2"><i class="fa fa-info text-warning"></i> Confirmation</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Demande envoyé !
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">Back to first</button>
            </div>
            </div>
        </div>
    </div>
        {# <button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">Open first modal</button> #}

    {# Modal end #}

{% endblock %}

{% block body_javascript %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>    
        $(document).ready(function () {
            
            $('.actionSendMail').on('click', function () {

                var price  = $(this).data('price');
                var idStep = $(this).data('id');
                var email  = $(this).data('email');
                var href   = $(this).data('href');
               
                $.ajax({
                    url: href,
                    dataType: 'text',
                    data: 'price='+price+'&idstep='+idStep+'&email='+email,
                    success: function (response) {           
                        alert(response);
                    }
                });
                
            });

            $('.newstepsrequest').click(function () {
                let idRequest = $(this).data('idrequest');
                let href = $(this).data('route');
                
                $.ajax({
                    url: href,
                    dataType: 'json',
                    data: 'idrequest='+idRequest,
                    success: function (response) {  
                        $('#name').text(response.name);
                        $('#inputname').val(response.name);

                        $('#email').text(response.email);
                        $('#inputemail').val(response.email);

                        $('#phone').text(response.phone); 
                        $('#inputphone').val(response.phone); 

                        $('#agence').text(response.agence); 
                        $('#inputagence').val(response.agence); 
                    }
                });
            });


            $('#btnsubmit').on('click', function () {
                $('form').trigger('submit');
            });

        });

    </script>
{% endblock %}
