
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title 'Demandes client' %}

{% block content_title 'Demandes client' %}



{% block main %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="container">
        <div class="row">
            <table class="table datagrid"> 
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Etat</th>
                        <th>Fichier</th>
                        <th>Categorie</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for step in steps %}
                        <tr>
                            <td>{{ step.id }}</td>
                            <td>{{ step.name }}</td>
                            <td>{{ step.email }}</td>
                            <td><span style="color:{{ step.state.color }};font-weight:bold;">{{ step.state.title }}</span></td>
                            <td>{% if step.file == null %}
                                {{ 'Pas de document' }}{% else %}<a href="{{ asset('uploads/images/docs/'~ step.file) }}">Document</a>{% endif %}</td>
                            <td>{{ step.category.name }}</td>
                            <td>
                                <button {% if step.price == null %}disabled{% endif %} type="button" class="btn btn-xs "
                                    data-id="{{ step.id }}" 
                                    data-email="{{ step.email }}">
                                    <i class="fa fa-envelope"></i> Email
                                </button>
                                
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
    </div>
{% endblock %}
