{% extends 'base.html.twig' %}

{% block title %}Création compte admin{% endblock %}

{% block body %}
<style>
    label { width: 150px; }
</style>
<section class="vh-100"style="padding-top: 0%">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100" style="padding-top: 5%">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="{{ asset('picto/webauto_logo.png') }}"
          class="img-fluid wall-home" alt="Sample image">

      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1 card p-0">

    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h3 class="card-header">Créer compte admin</h3>

    <div class="card-body">
            {{ form_start(registrationForm) }}
                <div class="form-group">
                    {{ form_row(registrationForm.name)}}
                </div>

                <div class="form-group">
                    {{ form_row(registrationForm.nickname)}}
                </div>

                <div class="form-group">
                    {{ form_row(registrationForm.email) }}
                </div>

                <div class="form-group">
                    <label for="agence">Agence</label>
                    <input type="text" name="_agency" class="form-contro"/>
                </div>

                <div class="form-group">
                    {{ form_row(registrationForm.plainPassword, {
                        label: 'Password'
                    }) }}
                </div>
                
                <div class="form-group">
                    {{ form_row(registrationForm.agreeTerms) }}
                </div>

                <button type="submit" class="btn btn-primary offset-lg-3 col-lg-6">Créer compte</button>

                <hr />
                <legend>
                    <small>Si vous avez déjà un compte <a href="{{ path('app_login')}}" >connectez-vous ici</a></small>
                </legend>
            {{ form_end(registrationForm) }}
        </div>
    </div>
    </div>
  </div>
  </section>
{% endblock %}
