{# {% extends 'layout.html.twig' %} #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title 'Business static' %}

{% block content_title 'Business static' %}



{% block main %}
    <hr/>
    <style>
        #category {width: 300px !important;height: 300px !important}
        #steps_request {width: 500px !important;height: 300px !important}
    </style>

    <div class="container">
        <div class="row">
            <div class="col-lg-6">    
                <canvas id="category"></canvas> 
            </div>
            <div class="col-lg-6"> 
                <canvas id="steps_request"></canvas>   
            </div>    
        </div>
    </div>

{% endblock %}

{% block body_javascript %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        let category = document.querySelector('#category')
        let categoryChart = new Chart(category, {
            type: 'pie',
            data: {
                labels: {{ categNom|raw }},
                datasets: [{
                    label: 'Repartition par categories',
                    data: {{ categCount|raw }},
                    backgroundColor: {{ categColor|raw }}

                }]
            }
        })

        let steps_request = document.querySelector('#steps_request')
        let stepsChart = new Chart(steps_request, {
            type: 'bar',
            data: {
                labels: {{ dates|raw }},
                datasets: [{
                    label: 'Repartition des demandes journalières',
                    data: {{ stepsCount|raw }},

                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        })
    </script>
{% endblock %}

